@import url('variables.css');


body {
    margin: 0;
    font-family: 'Montserrat', Arial, sans-serif;
    background: #2A3953;
    color: #fff;
}
 /*nav bari*/
.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-bg-dark);
    padding: 0 40px;
    height: 60px;
}

.nav-menu {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-right: auto; 
}
.nav-menu li {
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    padding: 5px 0;
}

.nav-menu li:hover,
.nav-menu .active {
    color: var(--color-hover);
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-size: 15px;
}

.nav-right i,
.nav-right span {
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-right i:hover,
.nav-right i.active,
.nav-right span:hover,
.nav-right span.active {
  color: var(--color-hover); /* ngjyra e verdh qe o te nav-menu */
}

.account-text {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.account-text:hover,
.account-text.active {
    color: var(--color-text-primary);
}



.account-caret {
    margin-left: 2px;
    cursor: pointer;
}


.language-text {
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.language-text :active,
.language-text:hover{
    color: var(--color-text-primary);
}

.language-caret {
    margin-left: px;
    cursor: pointer;
}

.vertical-line {
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: #ccc; 
    margin: 0 10px; 
}
 /*nav bari*/



 /*hero section*/
 .hero {
    text-align: center;
    margin-top: 100px;
    height: 80vh;
    
}

.hero h1 {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 40px;
}



 .search-bar-section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8px;
  background: #fff;
  padding: 18px 6px;
  border-radius: 50px;
  width: 50%;
  height: 60px;
  margin: 0 auto;
  box-sizing: border-box;
  color: black;
}
.search-dropdown{
  background: none;
  border: 1.5px solid #6a6a6a;
  color: #6a6a6a;
  border-radius: 24px;
  padding: 7px 14px;
  cursor: pointer;
}

/*
.btn-main{
  background: none;
  border: 1.5px solid #6a6a6a;
  color: #6a6a6a;
  border-radius: 24px;
  padding: 9px 20px;
  cursor: pointer;
} */



.btn-main{
  color: #6a6a6a;
  min-width: 130px;
  height: 40px;
  padding: 9px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 24px;
  border: 1.5px solid #6a6a6a;
}
.btn-main:hover {
  border-radius: 24px;
  padding-right: 24px;
  padding-left:8px;
}
.btn-main:hover:after {
  opacity: 1;
  right: 10px;
}
.btn-main:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}


/*side menu*/
.side-menu {
  position: absolute;
  right: 30px;
  top: 40%;
  width: 270px;
  font-size: 16px;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-menu li {
    color: #fffdfd;
    padding: 0px 0 1px 50px; 
    cursor: pointer;
}


.horizontal-line {
    width: 7px; 
    height: 1px;
    background: linear-gradient(to right, transparent 0%, white 50%, transparent 100%);
    box-shadow: 0px -1px 4px rgba(255, 238, 238, 0.25);
    margin: 15px 0 12px 50px;
}


.side-menu li.active {
    color: #ffd33b;
    cursor: pointer;
}

/*side menu*/

.dots {
    position: absolute;
    bottom: 30px; 
    left: 50%;
    display: flex;
    gap: 10px; 
}

.dot {
   width: 10px;
   height: 10px;
   background-color: white;
   border-radius: 50%;
}

.active-dot{
   width: 10px;
   height: 10px;
   background-color: #F7B916;
   border-radius: 50%;
   cursor: pointer;
}










/*second page*/

/* NAVBARI DYTSOR */
.second-nav {
  position: relative; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-dark);
  padding: 0 40px;
  height: 60px;
  color:var(--color-text-light);
}

/* e majta */
.second-left {
  display: flex;
  align-items: center;

}

.second-menu {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.second-menu li {
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s ease;
}


.second-menu li:hover,
.second-menu li.active{
  color: var(--color-hover);
}

/* pjesa e tekstit */
.second-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-size: 16px;
  color: var(--color-text-light);
}

.second-center span{
    color: var(--color-text-primary);
}



/* second right */
.second-right {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  color: white;
}

.second-right i {
  cursor: pointer;
  transition: color 0.3s ease;
}

.second-right i:hover,
.second-right i.active {
  color: var(--color-hover);
}


/*main part 2*/

.second-section {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.top-vehicles {
  text-align: center;
  margin-bottom: 20px;
}

.vehicle-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
  gap: 30px;
  padding-bottom: 60px;
  box-sizing: border-box;
  position: relative; 
  min-height: 300px; 
}

/* boxi me foto */
.vehicle-box {
  position: absolute;
  left: 120px;
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  top: -100px;
}

.vehicle-box img {
  width: 300px; 
  height: auto; 
}

.vehicle-box .lambo-logo{
  width: 100px;
  height: auto;
  opacity: 0.2;
  border: 1px solid red;
  position: absolute;
  z-index: -10;
  margin-left: 45px;
}

/* qmimi -rating */
.info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 10px;
  gap: 150px;
}

.price span {
  font-weight: bold;
  color: var(--color-text-primary);
}

.rating i {
  color: var(--color-text-primary);
}

/* Kutia me detajet teknike - DJATHTAS */
.vehicle-details {
  position: absolute;
  right: 100px;
  width: 350px;
  padding: 20px;
  font-size: 14px;
  line-height: 2;
  margin-bottom: 50px;
}

.vehicle-details p {
  margin: 0 0 10px 0;
}

.vehicle-details hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #bbb;
}

/* Shigjetat */
.arrow-right {
  position: absolute;
  left: 700px; 
  top: 80px;
  font-size: 28px;
  cursor: pointer;
  color: var(--color-text-primary);
  padding: 10px;
  user-select: none;
  z-index: 2;
}

.arrow-left{
  position: absolute;
  top: 80px;
  font-size: 28px;
  cursor: pointer;
  color: var(--color-text-primary);
  padding: 10px;
  user-select: none;
  z-index: 2;
  left: 40px;
}







/*THIRD SECTION*/

.third-section{
  background-color: var(--color-bg-light);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third-part{
  display: flex;
  max-width: 900px;
  margin: 30px auto;
  padding: 0 20px;
  border: 1px solid red;
  background-color: var(--color-bg-light);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 210px);
  gap: 32px 32px;
  position: relative;
}

.card {
  background: var(--color-box);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
  position: relative;
}


.card-line {
  display: block;
  width: 65%;
  height: 20px;
  position: relative;
  background: #b0b5be;
  opacity: 0.7;
  margin: 0 auto 4px auto; 
  clip-path: polygon(
  0% 50%,       /* fillimi i vijës në mes */
  45% 50%,      /* drejt majës */
  50% 20%,      /* MAJA E TREKËNDËSHIT – del lart! */
  55% 50%,      /* kthehet prapa në vijë */
  100% 50%,     /* vijon drejt fundi */
  100% 52%,     /* trashësi e poshtme */
   0% 52%        /* mbyllja e formës poshtë */
  );
}




.price {
  color: #ffcb47;
  font-size: 14px;
  margin-bottom: 4px;
  display: block;
}

.model {
  color: #fff;
  font-size: 14px;
  display: block;
}

.center-content {
  grid-row: 2 / span 1;
  grid-column: 2 / span 2;
  background: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  text-align: center;
}

.subtitle {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 8px;
}

.title {
  color: #ffcb47;
  margin-bottom: 18px;
}

.desc {
  border: 1px solid red;
  color: #d4d8e4;
  margin-bottom: 7px;
  line-height: 1.5;

}

.highlight {
  color: #ffcb47;
  font-weight: 700;
}

.order-btn {
  background:var(--color-bg-yllw);
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  padding: 14px 38px;
  cursor: pointer;
  margin-top: 3px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.07);
}




/*FOURTH SECTION
.fourth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #313c4f;
}
  */

.fourth-section {
  position: relative;
  background: #313c4f;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;        
  max-height: 100vh;       
}

.header {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 18px;
}

.header .highlight {
  color: #ffd600;
}

.subtitle {
  font-size: 1.15rem;
  color: #d2d9e6;
  margin-bottom: 6px;
}

.subtext {
  font-size: 1.05rem;
  color: #b0b7c6;
}

.cars-row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 50px;  /*130px*/
  gap: 19px;
  z-index: 2;
  transform: translateY(40px); /* per rresht tkerreve posht */
}


.car-img {
  width: 220px;
  height: auto;
  object-fit: contain;
  position: relative;
  z-index: 3;
  margin: 0 -30px; /* margina mes kerreve */
}

.car-img.main {
  width: 220px;
  z-index: 4;
}


.cards-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background: #26334a;
  margin-top: 0px; 
}

.cardss {
  flex: 1;
  padding: 20px 24px; 
  text-align: left;
  min-width: 240px;
  max-width: 350px;
  min-height: 265px; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}


.cardss h2 {
  font-size: 1.08rem;
  font-weight: 700;
  margin: 0 0 14px 0;
  color: #fff;
  letter-spacing: 1px;

}

.cardss p {
  font-size: 1rem;
  color: #d2d9e6;
  margin: 0;
  line-height: 1.5;
}

.card-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 14px;
}

.card-title .icon {
  margin-bottom: 0; 
}

.card-title h2 {
  margin: 0;
}
/*karta tek*/
.cards-row .cardss:nth-child(odd) {
  background-color: #374A6B;
}

/* karta qift */
.cards-row .cardss:nth-child(even) {
  background-color: #20293A;
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #ffd600;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px 28px;
}

/* Ikona NEW EVENT  */
.card-event .icon {
  background-image: url('data:image/svg+xml;utf8,<svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" y="7" width="20" height="17" rx="2" stroke="%23ffffff" stroke-width="2"/><path d="M4 11h20" stroke="%23ffffff" stroke-width="2"/><circle cx="9" cy="15" r="1.5" fill="%23ffffff"/><circle cx="14" cy="15" r="1.5" fill="%23ffffff"/><circle cx="19" cy="15" r="1.5" fill="%23ffffff"/></svg>');
}


/* Ikona FIND  */
.card-find .icon {
  background-image: url('data:image/svg+xml;utf8,<svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="13" cy="13" r="7" stroke="%23ffffff" stroke-width="2"/><path d="M19 19l4 4" stroke="%23ffffff" stroke-width="2" stroke-linecap="round"/></svg>');
}


/* Ikona CONNECT  */
.card-connect .icon {
  background-image: url('data:image/svg+xml;utf8,<svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="4" y="12" width="8" height="4" rx="2" stroke="%23ffffff" stroke-width="2"/><rect x="16" y="12" width="8" height="4" rx="2" stroke="%23ffffff" stroke-width="2"/><path d="M12 14h4" stroke="%23ffffff" stroke-width="2"/></svg>');
}

/* Ikona BUY  */
.card-buy .icon {
  background-image: url('data:image/svg+xml;utf8,<svg width="28" height="28" fill="none" xmlns="http://www.w3.org/2000/svg"><rect x="6" y="13" width="16" height="7" rx="2" stroke="%23ffffff" stroke-width="2"/><circle cx="9" cy="20" r="1.5" fill="%23ffffff"/><circle cx="19" cy="20" r="1.5" fill="%23ffffff"/><rect x="10" y="10" width="8" height="3" rx="1.5" stroke="%23ffffff" stroke-width="2"/></svg>');
}


/*FIFTH*/
.fifth-section {
  box-sizing: border-box;
  max-height: 105vh;
  background-color: #2d3850;
  padding: 40px 25px;
  text-align: center;
  color: #fff;
}

.blog-header h4 {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #b0b7c6;
  color: white;
  margin-bottom: 10px;
}

.blog-header h2 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.blog-header .highlight {
  color: #ffd600;
}

.blog-cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 40px 0;
  flex-wrap: wrap;
}

.blog-card {
  background: #fff;
  width: 270px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.blog-img {
  background-color: #3a4a6a;
  height: 150px;
  cursor: pointer;
  border: 1px solid  red;
}

.blog-content {
  padding: 10px;
  text-align: left;
  color: #2d3850;
  height: 160px;
}

.blog-content h3 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 700;
}

.blog-meta {
  font-size: 0.85rem;
  color: #999;
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
}

.blog-meta i {
  color: #ffd600;
  margin-right: 5px;
}

.blog-content p {
  font-size: 14px;
  color: #2d3850;
  line-height: 1.4;
}

/* Dots for slider */
.slider-dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 100px;
}

.slide-dot {
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  display: inline-block;
}

.slide-dot.active {
  background: #ffd600;
}

.hr-blog{
  width: 60%;
  margin-top: 40px;
}

.blog-logos img {
  height: 180px;
  filter: brightness(0) invert(1);
  opacity: 0.4;
  transition: all 0.3s ease;
  cursor: pointer;
}

.blog-logos img:hover,
.blog-logos img.active {
  opacity: 1;
  filter: none;
  color: var(--color-hover);
}  

/*CONTACT SECTION*/
.contact-section {
  background: linear-gradient(
  to bottom,
  #333e4e 60%,  
  #1c2639 30%  
  );
  padding: 50px 20px;
  color: white;
  text-align: center;
  min-height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
}

.contact-section h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.contact-form {
  flex: 1;
  min-width: 300px;
  max-width: 100%;
  width: 100%;
}

.form-columns {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.form-left,
.form-right {
  flex: 1;
  min-width: 280px;
}

/* inutet nan tmajt */
.input-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
  border: none;
}

.input-group input {
  flex: 1;
  padding: 12px 15px;
  border-radius: 8px;
  border: none;
  font-size: 15px;
}
.form-left button  {
  background-color: #f7b916;
  border: none;
  color: white;
  padding: 12px 30px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

/* infokontakti */
.form-right textarea {
  width: 100%;
  min-height: 120px;
  margin-bottom: 20px;
  padding: 12px 15px;
  border-radius: 6px;
  outline: none;
  font-size: 15px;
  resize: none;
  margin-top: 30px;
}

.contact-info.inside-form {
  border: 1px solid green;
  text-align: left;
  padding-top: 10px;
}

.contact-info.inside-form p {
  border: 1px solid yellow;
  margin: 10px 0;
  font-size: 15px;
}

.contact-info.inside-form .contact-part{
  margin-right: 10px;
  color: var(--color-bg-yllw);
  width: 16px;
  height: 16px;

}

.contact-info.inside-form .social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-icons i {
  width: 35px;          
  height: 35px;         
  background: white;  
  border-radius: 50%;  
  color: black;         
  font-size: 18px;      
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;  
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icons i:hover,
.social-icons i.active {
  background-color: var(--color-bg-yllw) ;
  color:white;
}
.contact-car {
  position: absolute;
  bottom: -40px;
  left: 0;
  max-width: 300px;
}




html {
  zoom: 80%;
}

.zoom-controls {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.zoom-controls button {
  padding: 5px 9px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #2a4df0;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.zoom-controls button:hover {
  background-color: #c7d0ed;
}
